version: "2"
services:
  flamenco:
    image: devthane/flamenco:0.1.0
    environment:
      PILLAR_ADMIN_EMAIL:
      SUBSCRIBER_EMAIL:
      SUBSCRIBER_PASSWORD:
      SERVER_SCHEME: http
      SERVER_DOMAIN: flamenco.app
      SERVER_PORT: 80
      PROJECT_NAME: test-project-1
      MANAGER_NAME: test-manager-1
      MANAGER_DESCRIPTION: this is a test manager
    links:
      - mongo:mongo
      - rabbit:rabbit
      - redis:redis
    ports:
      - 0.0.0.0:80:80
    volumes:
      - /tmp/flamenco-server:/tmp/output
  mongo:
    image: mongo
    volumes:
      - /tmp/db:/data/db
  rabbit:
    image: rabbitmq
  redis:
    image: redis
